/*
* InvestmentGame
*/

#investment-slider {
	margin-left: 50px;
	}
	
#investment-label {
	width: 650px;
	margin-bottom: -25px;
	}
	
.investment-label-null {
	}

.investment-label-hundred {
	margin-left: 545px;
	}
	
	
	
input[type=button] {
	width: 80px;
	height: 45px;
	background: #ffffff;
	border: 1px solid #ababab;
}

input[type=button] {
	margin-top: 20px;
	}

input[type=button]:hover {
	background: #ababab;
	color: #ffffff;
}

input[type=button]:active {
	background: #000000;
	color: #ffffff;
}


/*
* MLAExperiment
*/

#mla-slider {
	width: 400px;
	margin-left: 10px;
	}
	
	
.mla-slider-null {
	}

.mla-slider-hundred {
	margin-left: 400px;
	}