
/*
.rp {
	position: absolute;
	margin-left: 220px;
	margin-top: 70px;	
}

.button {
	width: 100px;
}
	
#forward_round {
	
	
}	
	
#investment-label {
	<!-- background-image: url(/ibftool/_files/images/mlaexperiment/sliderbg.png); -->
	background-repeat: no-repeat;
	background-position: 35px 20px;
	}

#investment-slider {
	background: #F4F4F4;
	background-image: url(/ibftool/_files/images/mlaexperiment/slider_sens_fix.png);
	height: 20px;
	width: 325px;
	margin-left: 35px;
	border: none;
	}
	
#investment-label {
	width: 650px;
	margin-bottom: -25px;
	}
	
.investment-label-null {
	font-size: 14px;
	}

.investment-label-hundred {
	font-size: 14px;
	margin-left: 375px;
	}
	
#Weiter {
	margin-top: 50px;
	}
	*/