/* /* 
	Dirty Fix!

label[for="88-8"] {
	margin-left: 40px;
}

label[for="89-8"] {
	margin-left: 40px;
}

label[for="90-8"] {
	margin-left: 40px;
}

label[for="91-8"] {
	margin-left: 40px;
}


	Question Styles

.53-label {
	font-weight: bold;
}

dt {
	padding-top: 30px;
	font-weight: bold;
}

dd {
	padding-left: 30px;
}

.required {
	font-weight: bold;
}

.scrow {
	font-weight: normal;
}

#43-label {
	font-weight: bold;
}

dt .optional {
	font-weight: bold;
}

dt .note {
	font-weight: normal;
}

input[type=submit] {
	width: 80px;
	height: 45px;
	background: #ffffff;
	border: 1px solid #ababab;
}

input[type=radio] {
	margin: 5px;
}

.amount {
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 25px;
}

.button {
	display: block;
	background: #ffffff;
	border: 1px solid #ababab;
	text-align: center;
	padding: 10px;
	width: 100px;
}

input[type=submit] {
	margin-top: 20px;
}

input[type=submit]:hover {
	background: #ababab;
	color: #ffffff;
}

input[type=checkbox] {
	margin-right: 5px;
}

input[type=submit]:active {
	background: #000000;
	color: #ffffff;
}

textarea {
	padding: 3px;
	height: 120px;
}

.questionnaire_edit li {
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.trashbin {
	margin: 20px;
	width: 940px;
	height: 100px;
	border: 1px dotted #259bff;
}

.questionnaire_available {
	border: 1px solid white;
	padding: 5px;
}

.questionnaire_available:hover {
	color: #259bff;
}

.admin_questionnaire_result td {
	border: 1px dotted #259bff;
}

.questionnaire_payout {
	margin-top: 20px;
	width: 990px;
	margin-left: -10px;
	border-left: 10px #f04747 solid;
}

.questionnaire_payout dt {
	padding-top: 10px;
}

.questionnaire_payout_end {
	width: 1000px;
	margin-left: -10px;
	margin-top: 20px;
	height: 2px;
	background: #f04747;
}

.note_nopad {
	padding-left: 10px;
} */

dd {
	margin-left: 0px;
	padding-bottom: 20px;
}

dt label {
	font-weight: bold;
}

dt label .optional {
	font-weight: normal;
}

dt .note {
	padding: 10px 0px 10px 0px;
	font-weight: normal;
}

input[type=checkbox] {
	margin: 5px;
}

input[type=radio] {
	margin: 5px;
}

.amount {
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 25px;
}

textarea {
	padding: 3px;
	height: 120px;
}

.questionnaire_edit li {
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.trashbin {
	margin: 20px;
	width: 940px;
	height: 100px;
	border: 1px dotted #259bff;
}

.questionnaire_available {
	border: 1px solid white;
	padding: 5px;
}

.questionnaire_available:hover {
	color: #259bff;
}

.admin_questionnaire_result td {
	border: 1px dotted #259bff;
}

.questionnaire_payout {
	margin-left: -23px;
	padding-left: 20px;
	border-left: 3px #f04747 solid;
}

.questionnaire_payout dt {
}

.questionnaire_payout_end {
	width: 1000px;
	margin-left: -10px;
	margin-top: 20px;
	height: 2px;
	background: #f04747;
}

.rs_doublenumber {
	width: 20px;
}

.rs_plotamount {
	width: 20px;
}

.rs_notewithvalueinline {
	position: relative;
	top: -42px;
}
