body {
  margin-top: 100px;
  background-color: #ececec;
}
.content {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: white;
  padding: 20px 30px 20px 30px;
  width: 965px;
  margin-right: auto;
  margin-left: auto;
}
